
4D_Plugin_Wizard/4D_Plugin_Wizard.4DD

4D_Plugin_Wizard/4D_Plugin_Wizard.4DIndx

4D_Plugin_Wizard/4D_Plugin_Wizard.4DIndy

4D_Plugin_Wizard/Logs/Backup Journal[001].txt

4D_Plugin_Wizard/Logs/Backup Journal[001].txt

4D_Plugin_Wizard/Preferences/Backup/Backup.xml

4D_Plugin_Wizard/Logs/Backup Journal[001].txt
