<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13E28</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv14-generic.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.WriteDocument</string>
				<string>com.4d.4d.WriteTemplate</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>4D Write</string>
	<key>CFBundleIdentifier</key>
	<string>com.4D.4DWrite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>4D Write</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>14.3 build 14.175089</string>
	<key>CFBundleSignature</key>
	<string>4DW7</string>
	<key>CFBundleVersion</key>
	<string>14.0.3</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>9L31a</string>
	<key>DTSDKName</key>
	<string>macosx10.5</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>NSHumanReadableCopyright</key>
	<string>"© 4D SAS, 1999-2014. All rights reserved."</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Write Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.WriteDocument</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4WR7</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4W7</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Write Template</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.WriteTemplate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4WR7</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4WT</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Write Template</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.WriteTemplate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4WRT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4WT</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Write Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.WriteDocument</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4WR7</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4WR</string>
					<string>4W7</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
